<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="teodor_2lwa4d" >

  <!-- common stuff -->
  <xacro:include filename="$(find schunk_description)/urdf/common.xacro" />
  <xacro:include filename="$(find schunk_description)/urdf/materials.urdf.xacro" />

  <xacro:property name="compartment_size_x" value="0.68"/>
  <xacro:property name="compartment_size_y" value="0.6"/>
  <xacro:property name="compartment_size_z" value="0.185"/>
  <xacro:property name="M_PI" value="3.1415926535897931" />

  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0. 0. 0." rpy="0 0 0" />
  </joint>

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </collision>
  </link>

  <!-- arm mount -->
  <joint name="mount_joint" type="fixed">
    <parent link="base_link"/>
    <child link="mount_link"/>
    <origin xyz="0. 0. 0.551" rpy="0 0 0" />
  </joint>
  <link name="mount_link">
    <visual>
      <origin xyz="-0.01 0.0 -0.01" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 ${compartment_size_y} 0.21"/>
      </geometry>
      <material name="Schunk/LightGrey">
        <color rgba="0.7 0.7 0.7 1"/>
      </material>
    </visual>
      <collision>
      <origin xyz="-0.0215 0.0 -0.01" rpy="0 0 0"/>
        <geometry>
            <box size="${0.023 + 0.02} ${compartment_size_y} 0.21"/>
        </geometry>
    </collision>
  </link>

  <!-- schunk lwa4d -->
  <xacro:include filename="$(find lwa4d_gazebo_simulation)/urdf/lwa4d/lwa4d.urdf.xacro" />

  <!-- right arm -->
  <xacro:schunk_lwa4d name="right_arm" parent="mount_link" has_podest="true" use_factory_settings="true">
    <origin xyz="0 -0.20 0" rpy="0 ${M_PI / 2.0} 0" />
  </xacro:schunk_lwa4d>

</robot>
